/*
NeedAnyTime Theme
*/

body{
    margin: 0;
    padding: 0;
}

#header{ margin-bottom: 50px }

#timebody{
    padding: 25px;
}

#successdlg,#errordlg{ display: none; }

/*分页*/
.pagination{ margin: 0 auto; }
.pagination a{ padding: 5px;color: #000000;font-size: 14px;font-weight: bolder; }
.pagination .current{ font-size: 20px; }